/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme inline {
  --color-primary: #7001fd;
  --color-secondary: #1e2772;
  --color-input-text: #555555;
  --color-input-bg: #f1f3f6;
  --color-gray-bg: #c2c2c2;
  --color-gray-secondary-bg: #555555;
}

html,
body {
  height: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
}
