/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme inline {
  --color-primary: #7001fd;
  --color-secondary: #1e2772;
  --color-text-color: #555555;
  --color-gray-bg: #c2c2c2;
}

html,
body {
  height: 100%;
}
